<mat-card class="example-card" style="margin: 2em">
  <mat-card-header>
    <mat-card-title>
      <h1> Chipschach - Editor Admin Panel </h1>
    </mat-card-title>
    <mat-card-subtitle>
      Anwendung zum Administrieren von im Chipschach Editor erstellten Leveln <br>
      <i> (EN: Application to administrate Chipschach levels created by the Chipschach Editor) </i>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Diese Anwendung ist fuer Administratoren, einschliesslich <b>Ralf Schreiber</b> in Person gedacht.
      Falls Sie faelschlicherweise zu dieser Anwendung gefunden haben oder in anderweitigen Fragen, wenden Sie sich an
      <a href="mailto:mail@schach-fuer-kids.de">mail@schach-fuer-kids.de</a>.
    </p>
    <p>
      <i>
        English: This application is meant to be used by administrators, including <b>Ralf Schreiber</b> specifically.
        If you have found this application by accident or have miscellaneous inqueries, please contact
        <a href="mailto:mail@schach-fuer-kids.de">mail@schach-fuer-kids.de</a>.
      </i>
    </p>
  </mat-card-content>
</mat-card>